<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hola


    <!--String nombre="Miguel";
    String apellido_Pat="Mendez";
    String apellido_Mat="Flores";
    String fecha_Nacimiento="31/01/2000";

    int telefono=5577;
    String correo="dnmiguel.friky@gmail.com";

    String contrasena="123";
    String tipo="debito";

    String delegacion="la paz";
    String colonia="la paz";
    String calle="la paz";
    String numExt="69";
    String numInt="4";-->
    <form action="#" th:action="@{/result}" method="post" >
        Nombre: <input type="text" name="nombre">
        Ap paterno: <input type="text" name="apellido_Pat">
        Ap materno: <input type="text" name="apellido_Mat"><br>
        Fecha nacimiento: <input type="text" name="fecha_Nacimiento">
        Telefono: <input type="text" name="telefono">
        Correo: <input type="text" name="correo"><br>
        contrasena: <input type="text" name="contrasena">
        tipo: <input type="text" name="tipo">
        delegacion: <input type="text" name="delegacion"><br>
        colonia: <input type="text" name="colonia">
        calle: <input type="text" name="calle">
        numExt: <input type="text" name="numExt"><br>
        numInt: <input type="text" name="numInt">
        <input type="submit" value="enviar">

    </form>
</body>